---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
  <Header />
	<main class="max-w-screen-lg mx-auto px-4 md:px-12 md:py-20">
    <h2 class="text-xl font-bold">
      Explore a brave new world.</h2>
      <p class="text-lg">
This course teaches you to get the most of AI to empower independent site owners, developers and content providers.
    </p>
			<Card
        title="Designs"
        body={[
          'Learn about different creation tools and how to work with them',
          'Deserunt id dolor dolor ullamco exercitation voluptate',
          'Aliqua est ut quis'
        ]}
        image="design.jpg"
        imageAlt="A robot eating brushs and pencils. Sketch in the style of Leonardo da Vinci."
        textAlt="This is a course about how AI can be used to create website. Topics are 'How to create website designs with AI', 'How to create website copy with AI' and 'How to create web code with AI'. The course highlights and discusses oppportunities and threats for people like developers, content creators and designers."
        bgColor="bg-[#D66154]"
      />
      <Card
        title="Copy"
        body={[
          'Learn about different creation tools and how to work with them',
          'Deserunt id dolor dolor ullamco exercitation voluptate',
          'Aliqua est ut quis'
        ]}
        image="copy.jpg"
        imageAlt="A robot eats a blue typewriter. Sketch in style of Leonardo da Vinci."
        textAlt="This is a course about how AI can be used to create website. Topics are 'How to create website designs with AI', 'How to create website copy with AI' and 'How to create web code with AI'. The course highlights and discusses oppportunities and threats for people like developers, content creators and designers."
        bgColor="bg-[#5A79AC]"
        reverse={true}/>
      <Card
        title="Code"
        body={[
          'Learn about different creation tools and how to work with them',
          'Deserunt id dolor dolor ullamco exercitation voluptate',
          'Aliqua est ut quis'
        ]}
        image="code.jpg"
        imageAlt="A green robot sits in front of computer and thinks about programming code. Old sketch in style of Leonardo da Vinci."
        textAlt="This is a course about how AI can be used to create website. Topics are 'How to create website designs with AI', 'How to create website copy with AI' and 'How to create web code with AI'. The course highlights and discusses oppportunities and threats for people like developers, content creators and designers."
        bgColor="bg-[#758242]"/>
	</main>
</Layout>
