---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
  <Header />
	<main class="max-w-screen-lg mx-auto px-4 md:px-12 md:py-20">
    <h2 class="text-xl font-bold">
      Explore a brave new world.</h2>
      <p class="text-lg">
This course teaches you to get the most of AI to empower independent site owners, developers and content providers.
    </p>
			<Card
        title="Create designs"
        body={[
          'Learn about different creation tools and how to work with them',
          'Deserunt id dolor dolor ullamco exercitation voluptate',
          'Aliqua est ut quis'
        ]}
        image="design.jpg"
        bgColor="bg-[#D66154]"
      />
      <Card
        title="Create copy"
        body={[
          'Learn about different creation tools and how to work with them',
          'Deserunt id dolor dolor ullamco exercitation voluptate',
          'Aliqua est ut quis'
        ]}
        image="copy.jpg"
        bgColor="bg-[#5A79AC]"
        reverse={true}/>
      <Card
        title="Create code"
        body={[
          'Learn about different creation tools and how to work with them',
          'Deserunt id dolor dolor ullamco exercitation voluptate',
          'Aliqua est ut quis'
        ]}
        image="code.jpg"
        bgColor="bg-[#758242]"/>
	</main>
</Layout>
