<div class="relative shadow-xl h-[calc(100vh-3rem)] ">
  <div class="absolute inset-0">
    <img class="h-full w-full object-cover object-right-bottom" src="hero.jpg" alt="People working on laptops">
    <div class="absolute inset-0 bg-gray-700 mix-blend-multiply opacity-60"></div>
  </div>
  <div class="relative px-4 sm:px-6 pt-24 md:pt-0 lg:py-32 lg:px-8 max-w-screen-lg mx-auto h-full flex flex-col md:justify-center content-start">
    <h1 class="text-4xl text-white font-bold tracking-tight sm:text-5xl lg:text-6xl md:w-1/2">
      Create
      <span class="font-black text-red-200">impressive</span>
      websites with the help of AI.
    </h1>
    <div class="mt-24">
      <a href="#" class="font-sans border border-transparent bg-white px-4 py-3 text-base font-medium text-red-700 shadow-sm hover:bg-red-50 sm:px-8">Book course &raquo;</a>
    </div>
  </div>
</div>
