---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<link rel='preconnect' href='https://fonts.bunny.net' />
		<link
			href='https://fonts.bunny.net/css?family=fira-sans:400|playfair-display:400,400i,700,900'
			rel='stylesheet'
		/>
		<script
			type='module'
			src='https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.82/dist/components/tooltip/tooltip.js'
		></script>
		<style>
			:root,
			:host{
				--sl-color-neutral-800: hsl(240 3.7% 15.9%);
				--sl-color-neutral-0: hsl(0, 0%, 100%);

				--sl-border-radius-medium: 0.25rem;
				--sl-spacing-2x-small: 0.25rem;
				--sl-spacing-x-small: 0.5rem;
				--sl-font-size-small: 0.875rem;
				--sl-font-weight-normal: 400;
				--sl-line-height-dense: 1.4;

				--sl-tooltip-border-radius: var(--sl-border-radius-medium);
				--sl-tooltip-background-color: var(--sl-color-neutral-800);
				--sl-tooltip-color: var(--sl-color-neutral-0);
				--sl-tooltip-font-family: var(--sl-font-sans);
				--sl-tooltip-font-weight: var(--sl-font-weight-normal);
				--sl-tooltip-font-size: var(--sl-font-size-small);
				--sl-tooltip-line-height: var(--sl-line-height-dense);
				--sl-tooltip-padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
				/* --sl-tooltip-arrow-size: 4px; */

				--sl-z-index-tooltip: 1000;
			}
		</style>
		<title>{title}</title>
	</head>
	<body class='font-serif bg-orange-50'>
		<slot />
	</body>
</html>
